:root {
    --branco_principal: #FFFFFF;
    --cinza_secundario: #C0C0C0;
    --botao_azul: #167BF7;
    --cor_backgroud: #00030c;
    --fonte_principal: 'Inter';
    --botao-azul-efeito: #3c92fa;
    

}

body{
    background-color: var(--cor_backgroud);
    color: var(--branco_principal);
    font-family: var(--fonte_principal);
    font-size: 16px;
    font-weight: 400;
}

*{
    margin: 0px;
    padding: 0px;
}

.principal{
    background-image: url("img/Background.png");
    background-repeat: no-repeat; /* IMPORTANTE DEMAIS!! NÃO REPETIR O CENARIO. RESOLVEU O BUG NO PROJETO */
    background-size: contain; /* FAZ COM QUE O BACK FICA DO TAMANHO DO CONTAINER*/
    align-items: center;
    text-align: center;

}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__botao{
    background-color: var(--botao_azul);
    border-radius: 5px;
    padding: 1em; /* o botão vai se adaptar a fonte */
    color: var(--branco_principal); /* esse color vai so pro texto irmão */
    display: block;
    text-decoration: none; /* para não ter sublinhado nos links */
    margin-bottom: 1em;
    
    
}

.botao_secundario{
    background-color: transparent;
    border: 2px solid var(--branco_principal);
}

.container__aviso{
    font-size: 12px;
    color: var(--cinza_secundario);
}

.container__titulo{
    font-size: 28px;
    font-weight: 700;

}

.container__imagem{
    margin: 1em 0 2em 0; /* espaçamento em relogio. coisa de maluco isso aqui */

}

.container__caixa{
    margin: 0 6em;
}

.secundario__imagem{

    width: 80%;
}

.container__secundario {
    display: grid; grid-template-columns: 50% 50%;   
    align-items: center;
    margin-top: 5em;
    margin-left: 5em;
    margin-bottom: 5em;
}

.descricao__titulo{
    font-weight: 700;
    font-size: 48px;
    color: var(--branco_principal);
    margin-bottom: 0.5em;
    
}

.descricao__texto{
    color: var(--cinza_secundario);
}

.secundario__botao{
    display: inline-block;
    margin-top: 1em;

}

.secundario__imagem{
    padding-left: 2em;
}

.container__descricao{
    padding: 2em;
}

.dispositivos__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
    
}

.dispositivos{
    text-align: center;
    margin-top: 10em;
}

.dispositivos__titulo{
    font-size: 48px;
    color: var(--branco_principal);
}

.lista__item{
    font-size: 32px;
    color: var(--branco_principal)
}

.rodape{
    margin-top: 10em;
    text-decoration: none;
    align-items: center;
    text-align: center;
    
    
}

.rodape__lista{
    justify-content: center;
    align-items: center;
    display: flex;   
    list-style-type: none;
    margin: 2em 2em 2em 2em;
    font-size: 16px;
}

.lista__link a{
    text-align: center;
    text-decoration: none;
    margin-right: 1.5em;
    color: var(--branco_principal);
    
    
}

.rodape__texto{
    font-size: 14px;
    color: var(--cinza_secundario);
    margin-top: 2em;
    margin-bottom: 2em;
}

.lista__link a:hover { /* muda a cor quando estamos com o mouse em cima */
    color: var(--botao_azul);
}

.lista__link a:active {
    color: purple;
}

.container__botao:hover {
    background-color: var(--botao-azul-efeito);
    color: var(--cor_backgroud);
}



